.card {
  background: white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  border-radius: 10px;
  width: 90%;
  max-width: 40rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin: 0.5rem auto;
  border: 1px solid #ccc;
}

.card li {
  /* border: 1px solid #ccc; */
  /* margin: 0.5rem 0; */
  padding: 1rem;
  list-style: none;
}
