.user-form {
  /* color: aqua; */
  /* display: flex; */
  /* justify-content: center; */
  /* background-color: white; */
  width: 35rem;
  max-width: 90%;
  margin: 3rem auto;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 1rem;
  padding: 3rem;
  text-align: left;
}

.user-form label {
  font-weight: bold;
  display: block;
  margin-bottom: 0.5rem;
}

.user-form input {
  display: block;
  width: 100%;
  border: 1px solid #ccc;
  font: inherit;
  line-height: 1.5rem;
  padding: 0 0.25rem;
}

.user-form button {
  font: inherit;
  padding: 0.5rem 1.5rem;
  border: 1px solid #8b005d;
  color: white;
  background: #8b005d;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.26);
  cursor: pointer;
}
